@page
@model ErrorModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID da solicitação:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>
    Alterar para o ambiente <strong>Desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro ocorrido.
</p>
<p>
    <strong>O ambiente de Desenvolvimento não deve ser habilitado em aplicações publicadas</strong>, pois isso pode
    resultar na exibição de informações sensíveis de exceções para os usuários finais. Para depuração local, o ambiente
    de desenvolvimento pode ser habilitado definindo a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> como
    <strong>Development</strong> e reiniciando o aplicativo.
</p>
